body {
  font-family:"Avenir New";
  text-decoration:none; 
}
li {
  list-style: none;
}
.header {
  background-color:#00bfff;
  height:150px;
  width:100%;
  color:#ffffff
}
.header-logo {
  float:left;
  font-size:42px;
  padding:20px 40px;
}
.header-list li {
  float:right;
  padding:33px 20px;
}
.this-week-grade {
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.weekend-table {
  border-right:1px solid #3c6690;
}

.this-week-link {
  width:100%;
}
.gradesearch {
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.g-search1 {
  background-color:#00bfff;
  color:#ffffff;
  width:33%;
  text-decoration:none; 
}
.grade1,.grade2,.grade3,.monthly {
  text-decoration:none; 
  color:#ffffff;
}
.g-search2 {
  background-color:#ff0000;
  color:#ffffff;
  width:33%;
}
.g-search3 {
  background-color:#008000;
  color:#ffffff;
  width:34%;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table th,table td{
  padding: 10px 0;
  text-align: center;
}
table tr:nth-child(odd){
  background-color: #eee
}
.day,.race-name-c {
  border-right: 1px solid #3c6690;
}
.this-week-grade {
  float:left;
}
.footer {
  background-color:#4b0082;
  height:80px;
  width:100%;
  color:#ffffff;
}
.footer-logo {
  font-size:24px;
  float:left;
  padding:0px 20px;
}
.footer-attention-links {
  font-size:12px;
  float:right;
  padding:0px 20px;
  margin:0px;
  color:#ffffff;
}
.footer-linktext {
  float:right;
  padding:0px 20px;
}
